body {background-color: RGB(255, 211, 143);}

h1 {text-align: center;}
<link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
{font-family: 'Dancing Script'}

p {text-align: center;}

div {text-align: center;}

h2 {text-align: center;}

h3 {text-align: center;}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
